
<%-include("header") -%>

<div class="container container-fluid ">
        
    <div class="row">
        <div class="col-4"></div>
        <div class="box  col-md-4 text-center pr-3" id="heading"> 
            
            <div class="container">
                <div class="row mb-3" style="margin-top: 75px;" >
                    <h1 class=" bg-primary-subtle rounded fw-bold pt-1 pb-1  "> <%=listTitle%> </h1> 
                </div>
            </div>
        

            <div class=" container">
                <div class="row ">
                    <%newListitems.forEach (function (item){  %>
                        <form action="/delete" method="post" >
                            <ul class="list-group  ">
                                <li class="list-group-item mb-2">
                                  <input class="form-check-input me-1" type="checkbox" name="checkbox" value= "<%=item._id %>" onChange ="this.form.submit()" id="firstCheckbox">
                                  <label class="form-check-label" for="firstCheckbox"><%= item.name %></label>
                                </li>
                            </ul>
                                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                        </form>         
                    <% })%>
            
                        <form class="item m-2" action="/" method="post">

                            <div class="input-group mb-3 pr-3">
                                <input type="text" class="form-control" name="newItem" placeholder="New task" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
                                <button class="btn fw-bold " style="background-color: #448cff ; color: white;" type="submit" id="button-addon2" name="list" value="<%= listTitle %>">Add</button>
                            </div>
                                 
                        </form>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
     
</div> 
 
 <%-include("footer") -%>
      
